<script src="/assets/jquery-3.6.4.js" 
integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" 
crossorigin="anonymous"></script>
<script src="/assets/script.js"></script>

<center>
    <h3>NJS-Reporter</h3>
    <!-- Graph Here  -->
    <div id="allgraph"></div>
</center>
